<div class="container">
    <hr>
    <div class="information col-xs-8">
      <h2>Information</h2>
      <br>
      <p class="lead">Initially, this website was just a coding project. A way to use and present public data to people.
      But, very quickly, it became apparent that these weren't just numbers in a spreadsheet or statistics.
      These were people: men, women, and children, some innocent civilians, others "enemy combatants" in
      a fight against a country thousands of miles away.</p>
      <br>
      <p class="lead">As you browse this data, I'd like you to ask yourself one question:</p>
      <br>
      <p class="lead question">Do these deaths make you feel safer?</p>
      <br>
      <br>
      <br>
      <p class="text-center">Please visit the <a href="https://www.thebureauinvestigates.com/projects/drone-war">The Bureau of Investigative Journalism</a>
        to learn more. Additionally, thank you to Dronestream, developed by  <a href="https://joshbegley.com">Josh Begley</a> for developing
        the database for this information.</p>
    </div>
    <div class="col-xs-4">
      <!-- these tags come from the angular twitter add-on. -->
      <twitter-timeline>
        <a class="twitter-timeline" data-height="500" href="https://twitter.com/dronestream">Tweets by dronestream</a>
      </twitter-timeline>
    </div>
</div>
